%div= link_to "&laquo; Back to Lyrics", lyrics_url
%h1.floatl America Spoke Up Lyrics
%h1.floatr
  %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/america_spoke_up_lo.mp3&autostart=false"}
.clear

%p
  Lighthouse keeper, where've you been?
  %br/
  This broken beacon has been shining dim
  %br/
  Steeples rise into a damaged sky
  %br/
  With people praying for a change inside

%p
  The crowds are swarming, it's the sound of moving forward
  %br/
  Well the sea is changing, the sailing has been rough
  %br/
  I heard that fear was on the run, America Spoke Up

%p
  There's been no music at the school in a while
  %br/
  There's raindrops falling from the ceiling tiles
  %br/
  A mother moved into her daughter's house
  %br/
  She had to sell her place because her health went south

%p
  I don't want my son sweeping the ashes of our dreams
  %br/
  I don't want our daughters asking why we let this be