%div= link_to "&laquo; Back to Lyrics", lyrics_url
%h1.floatl Dashboard Lights
%h1.floatr
  %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/dashboard_lights_lo.mp3&autostart=false"}
.clear

%p
  I'm taking my hands off the wheel
  %br/
  And climbing into the back seat
  %br/
  No more bad dreams

%p
  My burden's been hugging the pavement
  %br/
  Swerved to the fast lane
  %br/
  Too much change made

%p
  The Dashboard Lights are paralyzing red
  %br/
  And the sky is lost behind the clouds in my head
  %br/
  The Dashboard Lights are blinding me again
  %br/
  I reach for you

%p
  I've been told that peace is all around me
  %br/
  If I could hold the love inside I could drown this
  %br/
  I try to keep my heart to the sky
  %br/
  But it's hard some times