%div= link_to "&laquo; Back to Lyrics", :controller => "/lyrics", :action => "index"
%h1.floatl Goodbye Beautiful Day
%h1.floatr
  %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/goodbye_beautiful_day_lo.mp3&autostart=false"}
.clear

%p
