%h1 Lunar Lyrics

%ul
  %li= link_to "America Spoke Up", :controller => "/lyrics", :action => "AmericaSpokeUp"
  %li= link_to "Saint Mark's Square", :controller => "/lyrics", :action => "SaintMarksSquare"
