%div= link_to "&laquo; Back to Lyrics", lyrics_url
%h1.floatl Just An Illusion
%h1.floatr
  %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/just_an_illusion.mp3&autostart=false"}
.clear

%p
  Came from nowhere to start
  %br/
  Snuck through the back door didn't trigger the alarm
  %br/
  Got by the innocence police
  %br/
  Bound up freedom and killed my clarity

%p
  Oh - You were really never there
  %br/
  You're just an illusion
  %br/
  Oh - Dancing around with all my fear
  %br/
  You're just an illusion

%p
  Wash these weary hands
  %br/
  This tribulation was never water only sand
  %br/
  Raise this weathered flag
  %br/
  Out of the ashes of a dream I never had


%p
  Melting like vapor
  %br/
  In the morning light
  %br/
  I'm getting back to right
