%div= link_to "&laquo; Back to Lyrics", lyrics_url
%h1.floatl Just For A Moment
%h1.floatr
  %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/just_for_a_moment_lo.mp3&autostart=false"}
.clear

%p
  Slow these thoughts that speed through your mind
  %br/
  Grow your heart til it leans towards the light
  %br/
  Stand guard as your thoughts become things
  %br/
  Flee the dark let the new day sing loud and clear

%p
  Just for a moment I was already there
  %br/
  I could feel it and hold it there was a whole flight of stairs
  %br/
  Just for a moment

%p
  Sunlight creeps through our vertical blinds
  %br/
  I kiss your skin and give thanks for this life
  %br/
  In our tiny house you make me feel like a king
  %br/
  I've retired any doubts that our dreams will be lived
  %br/
  If we feel they're already here

%p
  Just for a moment I was already there
  %br/
  I could feel it and hold it there was a whole flight of stairs
  %br/
  Just for a moment