%div= link_to "&laquo; Back to Lyrics", lyrics_url
%h1.floatl Progress
%h1.floatr
  %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/progress.mp3&autostart=false"}
.clear

%p
  There's a pathway through the forest through the blackberry vines
  %br/
  It's a quite place we can hide
  %br/
  Our youth was there before us, we were innocent and blind
  %br/
  Let's go there now in our minds

%p
  Follow me there, wherever you are
  %br/
  Progress is breaking your heart
  
%p
  The atmosphere is poisoned by the speed at which we run
  %br/
  And it's months since we've made love
  %br/
  The winter snow is in postcards and there's a mirror to catch the sun
  %br/
  Let's run away from all that we've done
  