%div= link_to "&laquo; Back to Lyrics", :controller => "/lyrics", :action => "index"
%h1.floatl Saint Mark's Square Lyrics
%h1.floatr
  %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/st_marks_square_lo.mp3&autostart=false"}
.clear

%p
  Blame it on anyone of us
  %br/
  It was too much for us to front
  %br/
  John Muir's twisting in his grave
  %br/
  There was higher ground - and bills to pay
%p
  Deep below you you'll find St. Mark's Square
  %br/
  I took your mother here - long before she cut her hair
  %br/
  Now the church dome is barely reaching through the air
  %br/
  A million tiles of gold - they stripped the ceiling bare
%p
  The warning blew in with the wind
  %br/
  No one even barely blinked
  %br/
  They just called for volunteers
  %br/
  We just changed the channel - in our ears