%p
  Thank you for signing the Lunar Sway mailing list!
%p
  We are currently recording our next batch of songs and rehearsing for our March 21st showcase at SXSW! We will be playing southern california dates soon and will be embarking on a west coast tour from LA to seattle this summer. As always, we will let you know as soon as our concert dates are confirmed and be sure to check LunarSway.com regularly as we will be adding new media!

%p
  As token of appreciation to our first fans, here's a link to free copies of two of our songs: 
  %a{:href => "http://www.lunarsway.com/song_downloads/get/Saint Mark's Square"} "Saint Mark's Square"
  and
  %a{:href => "http://www.lunarsway.com/song_downloads/get/Progress"} “Progress.”

%p
  Thanks again for joining!
  %br/
  Lunar Sway
