%p
  As token of appreciation to our first fans, here's a link to your free copy of our first two songs: 
  %a{:href => "http://www.lunarsway.com/song_downloads/get/Saint Mark's Square"} "Saint Mark's Square"
  and
  %a{:href => "http://www.lunarsway.com/song_downloads/get/America Spoke Up"} “America Spoke Up.”
%p We will be releasing a song online every month, on every full moon, and are very excited about the release of our newest song "Just an Illusion"

%p We will definitely keep you in the loop on all things Lunar Sway!

%p Thanks again for joining,
%br/
Lunar Sway
