%p.title Tour Dates

.upcoming-shows
  - for tour_date in TourDate.recent
    .tour-date
      .venue= link_to tour_date.location, tour_date
      .date= tour_date.show_date.strftime("%m/%e")
  
.clear

- content_for :header_css do
  %style{:type => "text/css"}
    :sass
      .upcoming-shows
        :padding-left 5px
        .tour-date
          :margin-bottom 15px
          .venue
            a
              :font-size 16px