.join_community {
  font-size: 85%;
  font-weight: bold;
  color: white;
  margin-right: 45px; }

.home_news {
  width: 540px;
  float: left; }

.home_releases {
  width: 290px;
  background-image: URL('/images/structure/bg.png');
  border: dotted #bbbbbb 2px;
  padding: 0px 5px 15px 10px; }
  .home_releases .releases_content {
    color: black; }
    .home_releases .releases_content .lunar_release {
      padding: 10px;
      font-size: 75%; }
      .home_releases .releases_content .lunar_release .title .date {
        color: #111111; }
      .home_releases .releases_content .lunar_release .title .song {
        color: black; }
      .home_releases .releases_content .lunar_release .embed {
        text-align: right;
        padding: 10px 0px 5px 10px; }
