.home_news {
  width: 550px;
  float: left; }

.home_releases {
  width: 275px;
  background-image: URL('/images/structure/bg.png');
  border: dotted #bbbbbb 2px;
  padding: 0px 10px 25px 15px; }
  .home_releases .releases_content {
    color: black; }
    .home_releases .releases_content .lunar_release {
      padding: 10px;
      font-size: 75%; }
      .home_releases .releases_content .lunar_release .title .date {
        color: #111111; }
      .home_releases .releases_content .lunar_release .title .song {
        color: black; }
      .home_releases .releases_content .lunar_release .embed {
        text-align: right;
        padding: 10px 0px 5px 10px; }
