@import url(reset.css);
@import url(structure.css);
@import url(type.css);
@import url(home.css);
@import url(news_item.css);
@import url(links.css);
@import url(tour_dates.css);
body {
  background-color: #000000;
  color: #cccccc;
  font-size: 16px; }

input.text {
  border: solid gray 1px;
  background-color: #eeeeee;
  padding: 5px; }

a {
  font-size: 14px;
  text-decoration: none;
  color: #eeeeee; }
  a:hover {
    color: #555555;
    opacity: .5; }

ul {
  list-style-type: disc; }

.floatl {
  float: left; }

.floatr {
  float: right; }

.clear {
  clear: both; }
