.news_item {
  margin: 5px 0px 5px 0px;
  padding-bottom: 10px;
  border-bottom: dotted gray 1px; }
  .news_item .date {
    font-size: 12px;
    color: #bbbbbb; }
  .news_item .title {
    font-size: 150%; }
    .news_item .title .date {
      color: #AAAAAA; }
  .news_item .posted_by {
    font-size: 10px; }
  .news_item .body {
    padding: 10px 0px 0px 15px;
    font-size: 85%; }

.news_item_show {
  margin: 0px 0px 15px 0px;
  padding-bottom: 10px;
  border-bottom: dotted gray 1px; }
  .news_item_show .title {
    font-size: 120%; }
    .news_item_show .title .date {
      color: #AAAAAA; }
  .news_item_show .posted_by {
    font-size: 75%; }
  .news_item_show .body {
    padding: 10px 0px 0px 15px; }
