#main-nav {
  width: 1200px;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  color: white; }
  #main-nav .mailing-list {
    float: left;
    padding-top: 10px;
    width: 400px; }
  #main-nav .content {
    float: right;
    margin-right: auto;
    padding-top: 10px; }
    #main-nav .content a {
      float: left;
      display: block; }
    #main-nav .content .spacer {
      float: left;
      width: 25px;
      height: 15px; }

#main-page {
  width: 1200px;
  background-color: #EAE2BD;
  background-image: url('/images/structure/page-bg.jpg');
  background-repeat: no-repeat;
  background-position: 0px -20px;
  margin-left: auto;
  margin-right: auto; }
  #main-page .main-content {
    padding: 15px;
    min-height: 650px;
    background-image: url(/images/structure/bg-silouhette.png);
    background-repeat: no-repeat;
    background-position: 750px 50px; }
    #main-page .main-content .facebook {
      position: absolute;
      top: 600px; }
    #main-page .main-content .twitter {
      position: absolute;
      top: 665px;
      margin-left: 15px; }
    #main-page .main-content .myspace {
      position: absolute;
      top: 640px;
      margin-left: 200px; }
    #main-page .main-content .main-logo {
      top: 0px;
      left: 515px;
      position: relative; }
    #main-page .main-content .content {
      position: relative;
      top: 10px;
      left: 435px;
      width: 725px; }
      #main-page .main-content .content .logged-in {
        text-align: right;
        margin-bottom: 10px; }
