.ui-tabs-nav ul {
  text-align: left;
  margin-left: 0px;
  padding-left: 0px; }
.ui-tabs-nav li {
  display: inline;
  border: dotted gray 1px;
  background-color: #cccccc;
  color: black;
  padding: 9px;
  margin-bottom: 1px; }
  .ui-tabs-nav li a:link {
    color: black; }
.ui-tabs-nav .ui-tabs-selected {
  border-top: solid #eeeeee 2px;
  border-right: solid #eeeeee 2px;
  border-left: solid #eeeeee 2px;
  border-bottom: none;
  margin-bottom: 0px;
  padding: 10px; }
.ui-tabs-nav .ui-tabs-unselect {
  border: dotted gray 2px; }

.ui-tabs-panel {
  margin-top: 10px;
  border: solid #666699 1px;
  padding: 10px;
  background-color: #003366; }

.ui-tabs-hide {
  display: none; }
