body {
  font-family: "Georgia", helvetica, sans-serif; }

h1, h2, h3, h4 {
  margin: 15px 0px 20px 0px; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 175%; }

h3 {
  font-size: 150%; }

h4 {
  font-size: 125%; }
