.wall_actions {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: dashed #CCCCCC 2px; }
  .wall_actions .post_message {
    float: left;
    padding: 10px;
    border-right: solid #999999 1px;
    margin-right: 10px; }
  .wall_actions textarea {
    font-family: arial, verdana, helvetica;
    font-size: 75%;
    color: #353535;
    border: solid #999999 1px;
    padding: 5px; }
  .wall_actions .post_photo {
    float: left;
    padding: 10px; }
