- if logged_in?
  logged in as
  - if current_user.has_role?('administrator')
    = link_to "admin", admin_session_url
    |
    = link_to "logout", logout_url
  - else
    = link_to current_user.login, my_community_url
    |
    = link_to "logout", logout_url
