%h1 Downloads coming soon!

%p Get our first two releases "America Spoke Up" and "Saint Mark's Square" by joining the Lunar Sway mailing list!

.mailing_list_join
  - form_tag mailing_list_items_path, :id => 'mailing_list_form' do
    email:
    = text_field_tag "mailing_list_item[email]", "", :id => 'mailing_list_join'
    = submit_tag "join!"


= javascript_tag "setupJoinMailingList();"