.talignc{:style => "width: 550px; margin-left: auto; margin-right: auto;"}
  = image_tag @photo.public_path(:size => "550x480")
  %br/
  =h @photo.caption 
  
  .talignr
    Credit:
    %b=h @photo.credit

  - if logged_in?
    - if current_user.has_role?('administrator')
      = link_to 'Edit', edit_photo_path(@photo)
      |
  = link_to 'Back', photos_path
