<p>
  <b>Title:</b>
  <%=h @lunar_release.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @lunar_release.body %>
</p>


<%= link_to 'Edit', edit_lunar_release_path(@lunar_release) %> |
<%= link_to 'Back', lunar_releases_path %>
