%h1 Lunar Sway Store
%embed{:src => "http://void.snocap.com/s/T3-31324-T8U2P32CFN-7/", :width => "425", :height => "300", :wmode => "transparent", :style => "background: url(http://void.snocap.com/b/T3-31324-T8U2P32CFN-7/);"}/